{% extends 'admin/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('organization/department.css', 'admin') }}"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src=" {{ asset('platform/entity.js', 'admin') }} "></script>

{% endblock %}

{% block css %}
<style>
.outside-wrapper {
  padding-top: 0;
}

.ef-drawer-body .ef-col-24 {
  margin-bottom: 10px
}
</style>
{% endblock %}

{% block app_content_container %}
	<div class="org-sturcture-container">
		<div class="outside-wrapper">
			<div class="inside-wrapper">
				<div class="left-tree visible">
					<div class="left-tree-wrapper">
						<div class="search-department-wrapper">
							<span class="ef-input-wrapper">
								<input class="ef-input ef-input-size-mini text" type="text" clearable="true" placeholder="请输入实体、字段名称"/>
								<span class="ef-input-suffix">
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
							</span>
						</div>
						<div class="department-tree-wrapper">
							{{ entity | raw }}
						</div>
					</div>
					<div class="fold-icon-wrapper collapse" id="collapseCompany">
						<i class="fa-solid fa-play"></i>
					</div>
				</div>
				<div class="right-content">
				  <div class="empty-content" id="platform-entity-empty">
					  <img src="{{ asset('status/empty.png', 'image') }}" width="587px">
					</div>
					<div id="platform-entity" class="ef-tabs tabs-container" style="display: none;">
						<div class="tabs-header tabs-header-plain" style="">
							<div class="tabs-scroller-left" style="display: none;"><i class="fa-solid fa-angles-left"></i></div>
							<div class="tabs-scroller-right" style="display: none;"><i class="fa-solid fa-angles-right"></i></div>
							<div class="tabs-wrap" style="">
								<ul class="tabs">

								</ul>
							</div>
						</div>
						<div class="tabs-panels" style="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

