{% extends "admin/view_editor_layout.html.twig" %}
{% import 'ui/template/ui.html.twig' as ui %}
{% set sectionId = random() %}

{% block app_content_container %}
	<div class="editor-container">
		<div class="canvas" id="canvas">
			<button class="add-section-button">
				<i class="fa-solid fa-plus"></i>
			</button>
			<div class="section active" id="{{sectionId}}">
				<div class="section-header">
					<button class="btn-add">
						<i class="fa-solid fa-plus" style="font-size: 1em;"></i>
					</button>
					<button class="btn-layout">
						<i class="fa-solid fa-grip" style="font-size: 1em;"></i>
					</button>
					<button class="btn-close">
						<i class="fa-solid fa-times" style="font-size: 1em;"></i>
					</button>
				</div>
				<div class="section-content ui-droppable"></div>
			</div>
		</div>

		<div class="modal-overlay structureModal" id="structureModal" style="display: none;">
			<div class="modal">
                <div class="close-icon"><i class="fa-solid fa-xmark"></i></div>
				<h3 style="font-family: sans-serif;font-size: x-large;margin: 0 0 60px 0;font-weight: 400; color: #4d4d4d;">SELECT YOUR STRUCTURE</h3>
				<div class="ef-row ef-row-align-start ef-row-justify-start" style="margin-bottom: 60px;">
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="full-24">
						<div class="ef-col-24" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
						</div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="half-and-half">
                        <div class="ef-col-12" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                        </div>
                        <div class="ef-col-12" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                        </div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="trisect">
                        <div class="ef-col-8" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                        </div>
                        <div class="ef-col-8" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                        </div>
                        <div class="ef-col-8" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                        </div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="four-equal-parts">
                        <div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>6 - 25%</div> #}
                        </div>
                        <div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>6 - 25%</div> #}
                        </div>
                        <div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>6 - 25%</div> #}
                        </div>
                        <div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                            {# <div>6 - 25%</div> #}
                        </div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="eight-sixteen">
                        <div class="ef-col-8" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
                        <div class="ef-col-16" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="sixteen-eight">
                        <div class="ef-col-16" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
                        <div class="ef-col-8" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
					</div>
				</div>
				<div class="ef-row ef-row-align-start ef-row-justify-start">
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="six-six-twelve">
						<div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px">
							{# <div>24 - 100%</div> #}
						</div>
						<div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px">
							{# <div>24 - 100%</div> #}
						</div>
						<div class="ef-col-12" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
							{# <div>24 - 100%</div> #}
						</div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="twelve-six-six">
                        <div class="ef-col-12 item-block" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>12 - 50%</div> #}
                        </div>
                        <div class="ef-col-6 item-block" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>12 - 50%</div> #}
                        </div>
                        <div class="ef-col-6 item-block" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                            {# <div>12 - 50%</div> #}
                        </div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="six-twelve-six">
                        <div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
                        <div class="ef-col-12" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
                        <div class="ef-col-6" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;">
                            {# <div>8 - 33.33%</div> #}
                        </div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;--columns: 5;" id="five-equal-parts">
                        <div class="ef-col ef-col-auto" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col ef-col-auto" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col ef-col-auto" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col ef-col-auto" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col ef-col-auto" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="six-equal-parts">
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;"></div>
					</div>
					<div class="ef-col-4 ef-col-item" style="height: 68px; line-height: 68px; color: white; text-align: center;" id="four-sixteen-four">
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-16" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center; margin-right: 2px;"></div>
                        <div class="ef-col-4" style="background-color: #ddd; height: 68px; line-height: 68px; color: white; text-align: center;"></div>
					</div>
				</div>
			</div>
		</div>

		{% set tableModalBody %}
		<div class="ef-row ef-row-align-start ef-row-justify-start">
			<div class="ef-col-12" style="margin-bottom: 20px;">
				<div class="ef-form-item ef-form-item-layout-horizontal">
					<div class="ef-col ef-col-10 ef-form-item-label-col">
						<label class="ef-form-item-label">行数</label>
					</div>
					<div class="ef-col ef-col-14 ef-form-item-wrapper-col">
						<div class="ef-form-item-content-wrapper">
							<div class="ef-form-item-content">
								{{ ui.inputNumber("table-rows") }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ef-col-12">
				<div class="ef-form-item ef-form-item-layout-horizontal">
					<div class="ef-col ef-col-10 ef-form-item-label-col">
						<label class="ef-form-item-label">列数</label>
					</div>
					<div class="ef-col ef-col-14 ef-form-item-wrapper-col">
						<div class="ef-form-item-content-wrapper">
							<div class="ef-form-item-content">
								{{ ui.inputNumber("table-cols") }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endset %}

		{% set tableModalFooter %}
		<div class="ef-space ef-space-horizontal ef-space-align-center">
			<div class="ef-space-item" style="margin-right: 8px;">
				<button class="btn primary medium" id="create-table-btn">确定</button>
			</div>
			<div class="ef-space-item">
				<button class="btn outline medium" id="cancel-table-btn">取消</button>
			</div>
		</div>
		{% endset %}

		{{ ui.modal('tableModal', '创建表格', tableModalBody, tableModalFooter, {width: '400px'}) }}

		<div class="properties-panel" id="properties-panel">
			{% set propTabId1 = random() %}
			{% set propTabId2 = random() %}
			{% set propTabId3 = random() %}
			
			<div id="property-tabs" class="ef-tabs tabs-container">
				<div class="tabs-header tabs-header-plain">
					<div class="tabs-scroller-left" style="display: none;"><i class="fa-solid fa-angles-left"></i></div>
					<div class="tabs-scroller-right" style="display: none;"><i class="fa-solid fa-angles-right"></i></div>
					<div class="tabs-wrap">
						<ul class="tabs">
							<li class="tabs-first tabs-selected" id="{{ propTabId1 }}">
								<span class="tabs-inner">
									<span class="tabs-title">Section</span>
								</span>
							</li>
							<li class="" id="{{ propTabId2 }}">
								<span class="tabs-inner">
									<span class="tabs-title">组件</span>
								</span>
							</li>
							<li class="tabs-last" id="{{ propTabId3 }}">
								<span class="tabs-inner">
									<span class="tabs-title">高级</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="tabs-panels">
					<div class="panel panel-htop" liid="{{ propTabId1 }}">
						<div class="panel-body panel-body-noheader panel-body-noborder" style="padding: 10px;">
							{% include 'admin/platform/view/editor_section_properties.html.twig' %}
						</div>
					</div>
					<div class="panel panel-htop" style="display: none;" liid="{{ propTabId2 }}">
						<div class="panel-body panel-body-noheader panel-body-noborder" style="padding: 10px;">
							<p>组件属性将根据选中的组件类型显示</p>
						</div>
					</div>
					<div class="panel panel-htop" style="display: none;" liid="{{ propTabId3 }}">
						<div class="panel-body panel-body-noheader panel-body-noborder" style="padding: 10px;">
							<p>高级属性配置</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="toggle-properties" id="toggle-button">
			<i class="fa-solid fa-angle-right"></i>
		</button>
	</div>
{% endblock %}
