{% set drawerid = "drawer" ~ id %}
{% set drawerWidth = width %}


<div class="ef-drawer-container" style="z-index: 1001;" id="{{ drawerid }}" entitytoken="{{ id }}">
	<div class="ef-drawer-mask" maskid="{{ drawerid }}"></div>
	<div class="ef-drawer" style="right: 0px; width: {{ drawerWidth }}px;">
		<div class="ef-drawer-header">
			<div class="ef-drawer-title">
				{{ drawerTitle }}
			</div>
			{% if drawerTitleAddonTwig is defined %}
			<div class="ef-drawer-addon">
			  {% include drawerTitleAddonTwig %}
			</div>
			{% endif %}

			{% if drawerTitleAddon is defined %}
			<div class="ef-drawer-addon" style="display: flex; justify-content: center; align-items: center;">
			  <span style="margin-right: 10px;">默认分组</span> <span>{{ drawerTitleAddon|raw }}</span>
			</div>
			{% endif %}
			<div tabindex="-1" role="button" aria-label="Close" class="ef-drawer-close-btn">
				<span class="ef-icon-hover">
					<svg viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" class="ef-icon ef-icon-close" stroke-width="4" stroke-linecap="butt" stroke-linejoin="miter">
						<path d="M9.857 9.858 24 24m0 0 14.142 14.142M24 24 38.142 9.858M24 24 9.857 38.142"></path>
					</svg>
				</span>
			</div>
		</div>
		<div class="ef-drawer-body">
		<form action="{{ path('api_platform_entity_batchfields') }}" method="post" id="submitFields">
			<div class="ef-col-24" id="ef-drawer-body-form">
				{{ drawerContent|raw }}
			</div>
			<div class="ef-col-24" style="padding: 0 10px;">
				<button class="btn primary medium long" id="addField">新增字段</button>
			</div>
		</form>
		</div>
		<div class="ef-drawer-footer">
			<button class="cancelDrawer btn secondary medium" type="button">取消</button>
			{% include confirmButton|default('ui/drawer/confirmButton.html.twig') with {'submit': false, 'id': 'submitFormButton'} %}
		</div>
	</div>
</div>
