{% macro recursiveMenu(mn) %}
						{% import _self as self %}
                {% set uri = mn.uri %}
						{% if mn.__children == [] %}
							<a class="{{ mn.uri == "/admin/index" ? "side-home" : "" }} link item-menu-content {{"{{'"}}{{uri|trim}}{{"'== app.request.requestUri ? 'current' : '' }}"}}" href="{{ mn.uri }}">
								<div class="link-icon">
									<i class="{{ mn.icon }}"></i>
								</div>
								<div class="link-text">
									<div class="link-text-content" style="max-width: 83%;">{{ mn.label }}</div>
								</div>
							</a>
						{% else %}
							<div class="parent-menu">
								<div class="item-menu-content scroll-item">
									<div class="link-icon">
										{% if mn.icon %}
											<i class="{{ mn.icon }}"></i>
										{% endif %}
									</div>
									<div class="link-text">
										<div class="link-text-content" style="max-width: 83%;">{{ mn.label }}</div>
										<i class="fa-solid fa-chevron-down" style="transform: rotate(0deg);"></i>
									</div>
								</div>
								<div class="sub-menu-content" style="{{"{{'"}}{{uri|trim}}{{"'== app.request.requestUri ? 'display: none;' : '' }}"}}">
									{% for child in mn.__children %}
										{{ self.recursiveMenu(child) }}
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endmacro %}

					{% from _self import recursiveMenu %}

{{ "{% set sideDisplay = sideMenuState == 'shrunk' ? 'none' : 'flex' %}" }}
{{ "{% set scrollBtnDisplay = sideMenuState == 'shrunk' ? 'flex' : 'none' %}" }}
<section class="app-side-menu">
	<div class="app-side-menu-scroll-btn" style="display: {{ "{{ scrollBtnDisplay }}" }}">
		<i class="fa-solid fa-angle-right"></i>
	</div>
	<aside class="admin-aside-outer" style="display: {{ "{{ sideDisplay }};" }}">
		<div class="side-menu-one">
			<div class="side-menu-two">
				<div class="universe-icon side-scroll-btn system-menu-toggle-btn">
					<i class="fa-solid fa-angles-left"></i>
				</div>
				<div class="side-menu-content">
					{% if menus %}
						{% for menu in menus %}
							{{ recursiveMenu(menu) }}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</aside>
</section>
