{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('layout.css', 'admin') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('layout.js', 'admin') }}"></script>
	<script>
  // 初始化 localforage 数据库名
  localforage.config({
    name: 'EnterpriseFramework'
  });
	</script>
{% endblock %}

{% block body %}
	<div id="app">
		<section class="layout-container">
			<header class="app-header {{ headerState == 'shrunk' ? 'shrunk' : '' }}">
				<div class="admin-left-logo">
					<div class="admin-left-logo-container">
						<div class="admin-logo {{ headerState == 'shrunk' ? 'shrunk' : '' }}">
							<a href="/admin/index">
								<div class="logo-image {{ headerState == 'shrunk' ? 'shrunk' : '' }}" style="background-image: url('{{ asset('logo/logo.png', 'image') }}');"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="admin-header-right">
					<div class="header-helper">
						<a href="" class="admin-help-link">
							<div>
								<span class="universe-icon helper">
									<i class="fa-regular fa-circle-question"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="hSeperater"></div>
					<span>
						<div class="module-container">
							<div class="module-icon-container {{ headerState == 'shrunk' ? 'shrunk' : '' }}">
								<span class="universe-icon">
									<a class="fa-brands fa-symfony" href="/_profiler/empty/search/results?limit=20" target="_blank"></a>
								</span>
							</div>
						</div>
					</span>
					<span>
						<div class="hPerson-container">
							<div class="hPerson-control">
								<div class="hPerson-avatar-box {{ headerState == 'shrunk' ? 'shrunk' : '' }}">
									<div class="hPerson-avatar" style="display: {{ headerState == 'shrunk' ? 'none' : 'block' }}">Tony</div>
									<div class="hPerson-content">
										<div class="hPerson-name">Tony Gao</div>
									</div>
									<div class="hPerson-caret">
										<i class="fa-solid fa-angle-down"></i>
									</div>
								</div>
							</div>
							<div class="dropdown-menu hidden">
								<div class="dropdown-header">
									<div class="align-items-center">
										<span>
											<div class="hPerson-avatar">Tony</div>
										</span>
										<div class="hPerson-info-text">
											<div class="hPerson-info-title">
												研发工程师 高强
											</div>
											<div class="text-content">
												linuxertony@163.com
											</div>
										</div>
									</div>
								</div>
								<div class="dropdown-divider" style="margin: 0!important;"></div>
								<a href="#" class="dropdown-item">
									<span>Settings</span>
								</a>
								<div class="dropdown-divider" style="margin: 0!important;"></div>
								<div class="dropdown-multilevel">
									<div class="dropdown-item">
										<span>Language</span>
										<i class="fa-solid fa-angle-right"></i>
									</div>
									<div class="dropdown-menu">
										<a href="#" class="dropdown-item">中文</a>
										<a href="#" class="dropdown-item">English</a>
									</div>
								</div>
								<div class="dropdown-divider" style="margin: 0!important;"></div>
								<a href="#" class="dropdown-item">
									<span>退出登录</span>
								</a>
							</div>
						</div>
					</span>
				</div>
				<div class="header-toggle">
						<button id="toggle-header-button">
								<i class="fa-solid fa-angle-up"></i> <!-- 向上箭头图标 -->
						</button>
				</div>
			</header>
			<section class="app-body">
				{% include "admin/static/menu.html.twig" %}
				<section class="app-content-container">
        {% block app_content_container %}{% endblock %}
        </section>
			</section>
		</section>
	</div>
{% endblock %}
