{% extends "base.html.twig" %}

{% set selectInputId = random() %}
{% set selectInputId2 = random() %}
{% set selectContentId = random() %}
{% set selectContentId2 = random() %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<span
  class="ef-select-view-single ef-select ef-select-view ef-select-view-size-medium ef-select-view-search"
  style="width: 320px;"
  chosen="false"
  id="{{ selectInputId }}"
  contentId="{{ selectContentId }}"
  >
  <input class="ef-select-view-input" placeholder="Please select ...">
  <span class="ef-select-view-value ef-select-view-value-hidden"></span>
  <span class="ef-select-view-suffix">
    <span class="ef-select-view-icon">
      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" class="ef-icon ef-icon-expand" stroke-width="4" stroke-linecap="butt" stroke-linejoin="miter" style="transform: rotate(-45deg);">
        <path d="M7 26v14c0 .552.444 1 .996 1H22m19-19V8c0-.552-.444-1-.996-1H26"></path>
      </svg>
    </span>
  </span>
</span>

<span
  class="ef-select-view-single ef-select ef-select-view ef-select-view-size-medium ef-select-view-search ef-select-error"
  style="width: 320px;"
  chosen="false"
  id="{{ selectInputId2 }}"
  contentId="{{ selectContentId2 }}"
  >
  <input class="ef-select-view-input" placeholder="Please select ...">
  <span class="ef-select-view-value ef-select-view-value-hidden"></span>
  <span class="ef-select-view-suffix">
    <span class="ef-select-view-icon">
      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" class="ef-icon ef-icon-expand" stroke-width="4" stroke-linecap="butt" stroke-linejoin="miter" style="transform: rotate(-45deg);">
        <path d="M7 26v14c0 .552.444 1 .996 1H22m19-19V8c0-.552-.444-1-.996-1H26"></path>
      </svg>
    </span>
  </span>
</span>

<div class="ef-trigger-popup ef-trigger-position-bl"
     trigger-placement="bl"
     style="z-index: 1001; pointer-events: auto; width: 320px;"
     id="{{ selectContentId }}"
     parentId="{{ selectInputId }}"
    >
	<div class="ef-trigger-popup-wrapper" style="transform-origin: 0px 0px;">
		<div class="ef-trigger-content">
			<div class="ef-select-dropdown">
					<div class="ef-scrollbar ef-scrollbar-type-embed" style="">
            <div class="ef-scrollbar-container ef-select-dropdown-list-wrapper">
              <ul class="ef-select-dropdown-list">
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Beijing</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Shanghai</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Guangzhou</span></li>
                <li id="{{ random() }}" class="ef-select-option ef-select-option-disabled"><span class="ef-select-option-content">Disabled</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Shenzhen</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Chengdu</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Wuhan</span></li>
              </ul>
            </div>
					</div>
				</div>
      </div>
		</div>
  </div>
</div>

<div class="ef-trigger-popup ef-trigger-position-bl"
     trigger-placement="bl"
     style="z-index: 1001; pointer-events: auto; width: 320px;"
     id="{{ selectContentId2 }}"
     parentId="{{ selectInputId2 }}"
    >
	<div class="ef-trigger-popup-wrapper" style="transform-origin: 0px 0px;">
		<div class="ef-trigger-content">
			<div class="ef-select-dropdown">
					<div class="ef-scrollbar ef-scrollbar-type-embed" style="">
            <div class="ef-scrollbar-container ef-select-dropdown-list-wrapper">
              <ul class="ef-select-dropdown-list">
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Beijing</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Shanghai</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Guangzhou</span></li>
                <li id="{{ random() }}" class="ef-select-option ef-select-option-disabled"><span class="ef-select-option-content">Disabled</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Shenzhen</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Chengdu</span></li>
                <li id="{{ random() }}" class="ef-select-option"><span class="ef-select-option-content">Wuhan</span></li>
              </ul>
            </div>
					</div>
				</div>
      </div>
		</div>
  </div>
</div>
{% endblock %}
