{% include 'ui/template/icons.html.twig' %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta name="session" session="{{ get_session_id() }}">
		{% if app.request.server.get('KEY_DEBUG') is defined and app.request.server.get('KEY_DEBUG') == 'true' %}
		<meta name="keydebug" content="true">
		{% endif %}
		{% for type in ['org.singleDepartment'] %}
				{% for message in app.flashes(type) %}
						<meta name="cache-status" data-cache-type="{{ type }}" content="{{ message }}">
				{% endfor %}
		{% endfor %}
    {# 将 Flash 消息渲染到 <meta> 标签中 #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <meta name="flash-{{ type }}" content="{{ message }}">
        {% endfor %}
    {% endfor %}
    
    {# View Editor 配置 #}
    <meta name="view-editor-undo-steps" content="{{ app.request.server.get('VIEW_EDITOR_UNDO_STEPS', 50) }}">
    <meta name="view-editor-version" content="1.0">
		<title>
			{% block title %}Welcome!{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
		  <link rel="stylesheet" href="{{ asset('/fonts/fonts.css', 'static') }}">
			<link rel="stylesheet" href="{{ asset('/lib/font-awesome-642/css/all.min.css', 'static') }}">
			<link rel="stylesheet" href="{{ asset('/lib/jquery-ui/jquery-ui.min.css', 'static') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('button.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('text-lighting.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('input-number.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('input.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('select.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('department.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('user.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('switch.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('radio.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('checkbox.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('textarea.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('link.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('divider.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('grid.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('layout.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('toolbar.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('modal.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('form.css', 'ui') }}">
      <link rel="stylesheet" type="text/css" href="{{ asset('tabs.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('tree.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('table.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('drawer.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('label.css', 'ui') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('alert.css', 'ui') }}">
      <link rel="stylesheet" type="text/css" href="{{ asset('datagrid.css', 'ui') }}">
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('lib/jQuery/jquery-3.6.1.min.js', 'static') }}"></script>
			<script src="{{ asset('lib/jquery-ui/jquery-ui.min.js', 'static') }}"></script>
			<script src="{{ asset('lib/jquery-validation/jquery.validate.min.js', 'static') }}"></script>
			<script src="{{ asset('lib/lodash/lodash.min.js', 'static') }}"></script>
			<script src="{{ asset('lib/keypress/keypress-2.1.5.min.js', 'static') }}"></script>
      <script src="{{ asset('lib/localForage/localforage.min.js', 'static') }}"></script>
			<script src="{{ asset('lib/ef/base/ajax.js') }}"></script>
			<script src="{{ asset('lib/ef/base/route.js', 'static') }}"></script>
			<script src="{{ asset('lib/ef/base/jqueryplus.js') }}"></script>
			<script src="{{ asset('lib/ef/base/common.js') }}"></script>
			<script src="{{ asset('lib/ef/base/str.js') }}"></script>
			<script src="{{ asset('lib/ef/base/cache.js', 'static') }}"></script>
			<script src="{{ asset('lib/pinyin/browser.js') }}"></script>
			<script src="{{ asset('lib/leader-line/leader-line.min.js') }}"></script>
			<script src="{{ asset('alert.js', 'ui') }}"></script>
			<script src="{{ asset('input.js', 'ui') }}"></script>
			<script src="{{ asset('toolbar.js', 'ui') }}"></script>
			<script src="{{ asset('inputPlus.js', 'ui') }}"></script>
			<script src="{{ asset('input-number.js', 'ui') }}"></script>
			<script src="{{ asset('switch.js', 'ui') }}"></script>
			<script src="{{ asset('textarea.js', 'ui') }}"></script>
			<script src="{{ asset('select.js', 'ui') }}"></script>
			<script src="{{ asset('checkbox.js', 'ui') }}"></script>
			<script src="{{ asset('radio.js', 'ui') }}"></script>
			<script src="{{ asset('department.js', 'ui') }}"></script>
			<script src="{{ asset('tree.js', 'ui') }}"></script>
      <script src="{{ asset('tabs.js', 'ui') }}"></script>
      <script src="{{ asset('components.js', 'uilib') }}"></script>
			<script src="{{ asset('drawer.js', 'ui') }}"></script>
			<script src="{{ asset('datagrid.js', 'ui') }}"></script>
			<script src="{{ asset('modal.js', 'ui') }}"></script>
			<script src="{{ asset('sunui/admin/platform/undo_redo_manager.js') }}"></script>
			{# <script src="https://kit.fontawesome.com/ef1baf8144.js" crossorigin="anonymous"></script> #}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{% block css %}
		    <style>
        .error {
            color: red;
        }
    </style>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>

{% block end_javascripts %}
	<script>
		$(document).ready(function() {
			$(document.body).hotkeyManager();
		});
	</script>
{% endblock %}
</html>
