{# templates/ui/buttons/icon_button.html.twig #}
<button class="btn {{ type }} {{ size }} icon {{ state }} {{ shape }} {{ extraClass|default('') }}">
    <i class="{{ icon }}"></i>
    {{ label|default('') }}
</button>
