{% extends 'admin/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('organization/department.css', 'admin') }}"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
  <script src=" {{ asset('organization/department.js', 'admin') }} "></script>

  <script>
	$(document).ready(function () {
    $(".org-text-content.company, .org-text-content.department").on("click", function (event) {
      let thisChosen = false;
      if ($(this).hasClass("chosen")) {
        thisChosen = true;
      }
      $(".org-text-content.chosen").removeClass("chosen");
      if (!thisChosen) {
        $(this).addClass("chosen");
      }
    })

    $("#create").on("click", function (event) {
      $.ajax({
        url: "{{ path("org_department_new") }}",
        method: "GET",
        async: false,
        dataType: "html",
        success: function(data) {
          $(".right-content").html(data);
          Common.forceReloadJS('components');
          Common.forceReloadJS('admin');
        }
      })
    })

    $("#collapseCompany").on("click", function () {
      let leftTree = $(".left-tree");
      if (leftTree.hasClass("visible")) {
        let width = 0 - leftTree.outerWidth(true);
        leftTree.animate({"left":+ width +"px"}, "slow").removeClass("visible");
      } else {
        leftTree.animate({"left":"0px"}, "slow").addClass('visible');
      }
    })
  })
  </script>
{% endblock %}

{% block css %}
<style>
.outside-wrapper {
  padding-top: 0;
}
</style>
{% endblock %}

{% block app_content_container %}
	<div class="org-sturcture-container">
		<div class="outside-wrapper">
      <div class="toolbar">
        <div class="toolbar-box">
          <div class="toolbar-wrap">
            <div class="toolbar-content">
              <button class="btn outline primary medium mini round icon" id="create"><i class="fa-regular fa-square-plus"></i>新建</button>
              <button class="btn outline primary medium mini round icon"><i class="fa-regular fa-pen-to-square"></i>修改</button>
              <button class="btn outline primary medium mini round icon"><i class="fa-solid fa-ban"></i>停用</button>
            </div>
          </div>
        </div>
      </div>
			<div class="inside-wrapper">
				<div class="left-tree visible">
					<div class="left-tree-wrapper">
						<div class="search-department-wrapper">
							<span class="ef-input-wrapper">
								<input class="ef-input ef-input-size-mini text" type="text" clearable="true" placeholder="请输入部门名称"/>
								<span class="ef-input-suffix">
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
							</span>
						</div>
						<div class="department-tree-wrapper">
              {{ departmentTree | raw }}
						</div>
					</div>
          <div class="fold-icon-wrapper collapse" id="collapseCompany">
            <i class="fa-solid fa-play"></i>
          </div>
				</div>
				<div class="right-content">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
